@charset "UTF-8";

@font-face {
  font-family: "beatstars";
  src:url("../fonts/beatstars.eot");
  src:url("../fonts/beatstars.eot#iefix") format("embedded-opentype"),
    url("../fonts/beatstars.woff") format("woff"),
    url("../fonts/beatstars.ttf") format("truetype"),
    url("../images/beatstars.svg#beatstars") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "beatstars" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bcon-"]:before,
[class*=" bcon-"]:before {
  font-family: "beatstars" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bcon-albums:before {
  content: "a";
}
.bcon-apps:before {
  content: "b";
}
.bcon-audio-albums:before {
  content: "c";
}
.bcon-bulk-promo:before {
  content: "d";
}
.bcon-customers:before {
  content: "e";
}
.bcon-manage-content:before {
  content: "f";
}
.bcon-mini-widget:before {
  content: "g";
}
.bcon-music-distribution:before {
  content: "h";
}
.bcon-music-store-widget:before {
  content: "i";
}
.bcon-photos:before {
  content: "j";
}
.bcon-pro-page:before {
  content: "k";
}
.bcon-promo:before {
  content: "l";
}
.bcon-promo-codes:before {
  content: "m";
}
.bcon-sales-report:before {
  content: "n";
}
.bcon-selling-tools:before {
  content: "o";
}
.bcon-single-tracks:before {
  content: "p";
}
.bcon-stats:before {
  content: "q";
}
.bcon-stats-sales:before {
  content: "r";
}
.bcon-tracks:before {
  content: "s";
}
.bcon-videos:before {
  content: "t";
}
.bcon-album-widget:before {
  content: "u";
}
.bcon-reggae:before {
  content: "w";
}
.bcon-rock:before {
  content: "x";
}
.bcon-world:before {
  content: "y";
}
.bcon-all-genre:before {
  content: "v";
}
.bcon-country:before {
  content: "z";
}
.bcon-electronic:before {
  content: "A";
}
.bcon-hip-hop:before {
  content: "B";
}
.bcon-pop:before {
  content: "C";
}
.bcon-rb:before {
  content: "D";
}
.bcon-beatstarslogo:before {
  content: "E";
}
.bcon-beatstarslogo-brand:before {
  content: "F";
}
.bcon-beatstarslogo-text:before {
  content: "G";
}
.bcon-visa:before {
  content: "H";
}
.bcon-mastercard:before {
  content: "I";
}
.bcon-discover:before {
  content: "J";
}
.bcon-amex:before {
  content: "K";
}
.bcon-collab:before {
  content: "L";
}
.bcon-distribute:before {
  content: "M";
}
.bcon-live-performance:before {
  content: "N";
}
.bcon-mp3:before {
  content: "O";
}
.bcon-no-broadcasting:before {
  content: "P";
}
.bcon-record:before {
  content: "Q";
}
.bcon-stream-music:before {
  content: "R";
}
.bcon-video:before {
  content: "S";
}
.bcon-video2:before {
  content: "T";
}
.bcon-video3:before {
  content: "U";
}
.bcon-wav-copy:before {
  content: "V";
}
.bcon-master-tracks:before {
  content: "W";
}
.bcon-landr:before {
  content: "X";
}
.bcon-beatstarslogo-brand2:before {
  content: "Y";
}
.bcon-all-genres:before {
  content: "Z";
}
.bcon-bpm:before {
  content: "0";
}
.bcon-mood:before {
  content: "1";
}
.bcon-playlist:before {
  content: "2";
}
